html {
    background-color:#595959;
    color:white;
}
button {
    margin:2px;
}
li {
    margin-left:-20px;
}
#userInfo {
    border:1px solid white;
    display:inline-flex;
    padding:10px;
    position:fixed;
    top:0;
    right:0;
}
#scoreBox {
    border:1px solid white;
    display:inline-flex;
    position:fixed;
    bottom:0px;
    margin:2px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#dice {
    border:1px solid white;
    position:fixed;
    display:inline-block;
    width:140px;
    top:6%;
    left:35%;
    padding:4px;
    text-align:center;
}
#rules {
    border:1px solid white;
    position:fixed;
    display:inline-block;
    margin-top:45px;
    width:250px;
    right:0;
    padding:4px;
}
#logOut {
    bottom:0;
    left:0;
    position:fixed;
    margin:10px;
}
#total {
    background-color:green;
}
#toolbox {
    border:1px solid white;
    display:inline-flex;
    position:fixed;
    bottom:100px;
    padding:4px;
    margin:2px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#turn {
    border:1px solid white;
    position:fixed;
    display:inline-block;
    margin-top:445px;
    width:250px;
    right:0;
    padding:4px;
} 
#log {
    border:1px solid white;
    position:fixed;
    display:inline-flex;
    margin-top:475px;
    width:250px;
    right:0;
    padding:4px;
}
.die{
    height:50px;
    width:50px;
    margin:10px;
    float:left;
    background-color:blue;
    text-align:center;
    font-size:40px;
}
.pScore {
    width:100px;
    height:30px;
    margin:10px;
    float:left;
    background-color:red;
}